*/*#
*/*.iml
*/*.ipr
*/*.iws
*/*.jar
*/*.sw?
*/*~
*/.#*
*/.*.md.html
*/.attach_pid*
*/.classpath
*/.factorypath
*/.gradle
*/.metadata
*/.project
*/.recommenders
*/.settings
*/.springBeans
*/.vscode
*/code
*/MANIFEST.MF
*/_site/
*/activemq-data
*/bin
*/build
!/**/src/**/bin
!/**/src/**/build
*/build.log
*/dependency-reduced-pom.xml
*/dump.rdb
*/interpolated*.xml
*/lib/
*/manifest.yml
*/out
*/overridedb.*
*/target
*/.flattened-pom.xml
*/secrets.yml
*/.gradletasknamecache
*/.sts4-cache
*/.git-hooks/
*/node_modules
*/.pnp
*/.pnp.js
*/.yarn/install-state.gz
*/coverage
*/.next/
*/out/
*/build
*/.DS_Store
*/*.pem
*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*
*/.vercel
*/*.tsbuildinfo
*/next-env.d.ts
